.row {
  display: flex;
  justify-content: center;
}
.seat {
  width: 20px;
  height: 20px;
  margin: 5px;
}
.category-0 {
  background-color: #afefa5;
}
.category-1 {
  background-color: #a5d9ef;
}
.category-2 {
  background-color: #efdba5;
}
.category-3 {
  background-color: #efa5a5;
}
